
@{
    ViewData["Title"] = "ContactUs";
    ViewBag.Title = "Contact Us";
}


@* Start Body *@
<center>
    <div class="mt-3 bg-light text-white rounded-2">
        <h1>Welcome To Contact US Page</h1>
        <p>lorem ipusm .. This is my Contact Us page</p>
    </div>
</center>
@* End Body *@